body{
    background-color: lightgreen;
    color: darkgoldenrod;
}

nav{
    height:600px;
    width:200px;
    float:left;
    padding:5px;
    line-height:30px;
}

footer{
    text-align:center;
    margin-right:200px;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top:25%;
}

header{
    text-align:center;
}

body{
    text-align:center;
    font-size:x-large;
}